<div class="sidebar">
    <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                (JJK)
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                <strong>J</strong>odi Yeon<strong>J</strong>ae <strong>K</strong>enny
            </a>
        </div>
        <ul class="nav">
            <li>
                <a href="/">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Overview</p>
                </a>
            </li>
            <li class="{% if 'membership' in segment %} active {% endif %} ">
                <a href="/membership">
                    <i class="tim-icons icon-satisfied"></i>
                    <p>Membership</p>
                </a>
            </li>
            <li class="{% if 'aggregate' in segment %} active {% endif %} ">
                <a href="/aggregate">
                    <i class="tim-icons icon-paper"></i>
                    <p>Trend</p>
                </a>
            </li>
            <li class="{% if 'hosts' in segment %} active {% endif %} ">
                <a href="/hosts">
                    <i class="tim-icons icon-badge"></i>
                    <p>Hosts</p>
                </a>
            </li>
            <li class="{% if 'property' in segment %} active {% endif %} ">
                <a href="/property">
                    <i class="tim-icons icon-square-pin"></i>
                    <p>Property</p>
                </a>
            </li>
        </ul>
    </div>
</div>