{% extends "layouts/base.html" %}

{% block title %} AIRBNB {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header ">
            <h2 class="card-title"> Overview Data: </h2>
            <br>
            <div class="col-sm">
              <form action="" method="post">
                <select name="comp_select2" class="Input" onchange="enableSubmit()">
                  {% for i in range(0, l2) %}
                  <option value="{{ i }}" {% if thing[0] == i %} selected {% endif %}>{{ data2[i] }}</option>
                  {% endfor %}
                </select>
                <select name="comp_select3" class="Input" onchange="enableSubmit()">
                  {% for i in range(0, l3) %}
                  <option value="{{ i }}" {% if thing[1] == i %} selected {% endif %}>{{ data3[i] }}</option>
                  {% endfor %}
                </select>
                <select name="comp_select4" class="Input" onchange="enableSubmit()">
                  {% for i in range(0, l4) %}
                  <option value="{{ i }}" {% if thing[2] == i %} selected {% endif %}>{{ data4[i] }}</option>
                  {% endfor %}
                </select>
                <select name="comp_select5" class="Input" onchange="enableSubmit()">
                  {% for i in range(0, l5) %}
                  <option value="{{ i }}" {% if thing[3] == i %} selected {% endif %}>{{ data5[i] }}</option>
                  {% endfor %}
                </select>
                <select name="comp_select6" class="Input" onchange="enableSubmit()">
                  {% for i in range(0, l6) %}
                  <option value="{{ i }}" {% if thing[4] == i %} selected {% endif %}>{{ data6[i] }}</option>
                  {% endfor %}
                </select>
                <select name="comp_select7" class="Input" onchange="enableSubmit()">
                  {% for i in range(0, l7) %}
                  <option value="{{ i }}" {% if thing[5] == i %} selected {% endif %}>{{ data7[i] }}</option>
                  {% endfor %}
                </select>
                <select name="comp_select8" class="Input" onchange="enableSubmit()">
                  {% for i in range(0, l8) %}
                  <option value="{{ i }}" {% if thing[6] == i %} selected {% endif %}>{{ data8[i] }}</option>
                  {% endfor %}
                </select>
                <select name="comp_select9" class="Input" onchange="enableSubmit()">
                  {% for i in range(0, l9) %}
                  <option value="{{ i }}" {% if thing[7] == i %} selected {% endif %}>{{ data9[i] }}</option>
                  {% endfor %}
                </select>
                
                <br></br>
                <button name="submitBtn" value="submitBtn" type="submit" class="pred-btn" disabled="true">Show Table</button>
                <button name="csv" value="csv" type="submit" class="pred-btn" disabled="true"> Download CSV </button>
                <br></br>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Result Table </h4>
            <p class="category"> </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="exportMe">
                <thead class=" text-primary">
                  <tr>
                    {% for colname in results.keys() %}
                    <th>
                      {{ colname }}
                    </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for result in results %}
                  <tr>
                    {% for col in result %}
                    <td>
                      {{ col }}
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}

  <script>
    $(document).ready(function () {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
    function enableSubmit() {
      let inputs = document.getElementsByClassName("Input");
      let btn = document.getElementsByName("submitBtn")[0];
      let btn2 = document.getElementsByName("csv")[0];

      for (var i = 0; i < inputs.length; i++) {
        if (inputs[i].value == "0") {
          btn.disabled = true;
          btn2.disabled = true;   // Disable the button.
          return false;
        }
        else {
          btn.disabled = false;
          btn2.disabled = false;
        }

      }

    }

    window.onload = enableSubmit()
  </script>

  {% endblock javascripts %}