{% extends "layouts/base.html" %}

{% block title %} AIRBNB {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                    <div class="card-header ">
                        <div class="row">
                            <h2 class="card-title">  Overview Data: </h2>
                            <br>
                            <div class="col-sm">
                                <form action="" method="post">
                                <select name="comp_select2" class="Input">
                                      {% for o in data2 %}
                                      <option value="{{ o.option2 }}">{{ o.option2 }}</option>
                                      {% endfor %}
                                    </select>
                                <select name="comp_select3" class="Input">
                                      {% for o in data3 %}
                                      <option value="{{ o.option3 }}">{{ o.option3 }}</option>
                                      {% endfor %}
                                    </select>
                                <select name="comp_select4" class="Input">
                                      {% for o in data4 %}
                                      <option value="{{ o.option4 }}">{{ o.option4 }}</option>
                                      {% endfor %}
                                </select>
                                <select name="comp_select5" class="Input">
                                    {% for o in data5 %}
                                    <option value="{{ o.option5 }}">{{ o.option5 }}</option>
                                    {% endfor %}
                                  </select>
                                <select name="comp_select6" class="Input">
                                    {% for o in data6 %}
                                    <option value="{{ o.option6 }}">{{ o.option6 }}</option>
                                    {% endfor %}
                                  </select>
                                <select name="comp_select7" class="Input">
                                    {% for o in data7 %}
                                    <option value="{{ o.option7 }}">{{ o.option7 }}</option>
                                    {% endfor %}
                                  </select>
                                <select name="comp_select8" class="Input">
                                    {% for o in data8 %}
                                    <option value="{{ o.option8 }}">{{ o.option8 }}</option>
                                    {% endfor %}
                                  </select>
                                <select name="comp_select9" class="Input">
                                    {% for o in data9 %}
                                    <option value="{{ o.option9 }}">{{ o.option9 }}</option>
                                    {% endfor %}
                                  </select>
   
                                    
                                    <br></br>
                                <button type="submit" class="pred-btn"> Submit </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title">  Result Table </h4>
            <p class="category"> Yay! </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    {% for colname in results.keys() %}
                    <th>
                        {{ colname }}
                    </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                  <tr>
                    {% for col in result %}
                    <td>
                        {{ col }}
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
            <p class="category"> Here is a subtitle for this table</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                        year
                    </th>
                    <th>
                        no_of_reservation
                    </th>
                    <th>
                        total_spending
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% for result in date_1 %}
                  <tr>
                    <td>
                        {{ result.year }}
                    </td>
                    <td>
                        {{ result.no_of_reservation }}
                    </td>
                    <td>
                        {{ result.total_spending }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

{% endblock javascripts %}
