{% extends "layouts/base.html" %}

{% block title %} AIRBNB {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header ">
          <h2 class="card-title"> Property Data: </h2>
          <br>
          <div class="col-sm">
            <form action="" method="post">
              <select name="comp_select2" class="Input" onchange="enableSubmit()">
                {% for i in range(0, l21) %}
                <option value="select">{{ data21[i] }}</option>
                {% endfor %}
                </optgroup>
                <optgroup label="Average Rating">
                  {% for i in range(0, l22) %}
                  <option value="{{ i+1 }}" {% if thing==i+1 %} selected {% endif %}>{{ data22[i] }}</option>
                  {% endfor %}
                </optgroup>
                <optgroup label="Total Revenue of Listings">
                  {% for i in range(0, l23) %}
                  <option value="{{ i+5 }}" {% if thing==i+5 %} selected {% endif %}>{{ data23[i] }}</option>
                  {% endfor %}
                </optgroup>
                <optgroup label="Average Number of Guests">
                  {% for i in range(0, l24) %}
                  <option value="{{ i+8 }}" {% if thing==i+8 %} selected {% endif %}>{{ data24[i] }}</option>
                  {% endfor %}
                </optgroup>
                <optgroup label="Number of Each">
                  {% for i in range(0, l25) %}
                  <option value="{{ i+11 }}" {% if thing==i+11 %} selected {% endif %}>{{ data25[i] }}</option>
                  {% endfor %}
              </select>
              <br></br>
              <button name="submitBtn" value="submitBtn" type="submit" class="pred-btn" disabled="true"> Show Table
              </button>
              <button name="csv" value="csv" type="submit" class="pred-btn" disabled="true"> Download CSV </button>
              <br></br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Result Table </h4>
            <p class="category"> Results show property which have fulfilled different criteria, as well as aggregate
              queries </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    {% for colname in results.keys() %}
                    <th>
                      {{ colname }}
                    </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for result in results %}
                  <tr>
                    {% for col in result %}
                    <td>
                      {{ col }}
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}

  <script>
    $(document).ready(function () {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
    function enableSubmit() {
      let inputs = document.getElementsByClassName("Input");
      let btn = document.getElementsByName("submitBtn")[0];
      let btn2 = document.getElementsByName("csv")[0];

      let isValid = true;

      for (var i = 0; i < inputs.length; i++) {
        if (inputs[i].value == 'select') {
          isValid = false;
          btn.disabled = !isValid;
          btn2.disabled = !isValid;   // Disable the button.
          return false;
        }
        else {
          btn.disabled = false;
          btn2.disabled = false;
        }

      }

    }

    window.onload = enableSubmit()
  </script>


  {% endblock javascripts %}